// You can add CSS rules here that will be included in Hydejack's CSS file

/* for image caption */
img + br + em {
    font-style: normal;
    display: inherit;
    text-align: center;
    font-size: 90%;
}